/*DLK */

#ajax_answer #answer-links li   {
	box-shadow:none;
	width:auto;
}

.rn_SocialBookmarkLink .yui-panel-container {
	margin-left:-225px;
}

#answer-links .rn_SocialBookmarkLink a {
    margin-left: 15px;
}


.rn_PrintPageLink {
float:left;
}
.rn_SocialBookmarkLink
{
float:right;
}

#contentGrid #forgot-password form {
    overflow: hidden;
    padding: 12px 0;
}

.modHeader {
width:548px;
}
#login-form {
    overflow: visible;
}

a.FormButton span {
    height: 18px;
}
a.FormButton, a.FormButton span {
    color: #FFFFFF;
    text-decoration: none;
}
a.FormButton  {
	   background: -webkit-linear-gradient(top, rgba(117,117,117,1) 52%,rgba(56,56,56,1) 100%);
	   background:    -moz-linear-gradient(top, rgba(117,117,117,1) 52%,rgba(56,56,56,1) 100%);
	   background:     -ms-linear-gradient(top, rgba(117,117,117,1) 52%,rgba(56,56,56,1) 100%);
	   background:      -o-linear-gradient(top, rgba(117,117,117,1) 52%,rgba(56,56,56,1) 100%);
	   background:         linear-gradient(top, rgba(117,117,117,1) 52%,rgba(56,56,56,1) 100%);
	   -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,1);
	      -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,1);
	           box-shadow: 1px 1px 3px 0px rgba(0,0,0,1);
	   border: solid 1px rgba(201,201,201,1);
	   -webkit-border-radius: 7px;
	      -moz-border-radius: 7px;
	           border-radius: 7px;
	   height: 18px;
	   padding: 3px;
	margin: -22px 10px 0px 10px;
	   display: inline; 
	   font-size: 12px;
	   color: rgba(255,255,255,1);
	   font-weight: bold;
	text-align: center;
	float: left;
   
}
.createprofilebutton a.FormButton  {
	width:100px;
}

.rn_createaccount .Formbutton {
	padding-top:10px;
}
#forgot-password .rn_EmailCredentials2 input.button, #CreateAccount a.button {
	font-weight:normal;
	text-decoration:none;
}

.yui-skin-sam .yui-dialog .ft .button-group , .formButtons{
    padding-top: 20px;
}
.rn_AnswerNotificationIcon3 {
    clear: both;
    float: left;
}

.vfContentWrapper {
    overflow-x: hidden;
    overflow-y: auto;
}

a.close-overlay, a.close-reveal-modal {
    top: 6px;
}