body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:20;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal;}
ul, ol, li, dl, dt, dd{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;margin:0;padding:0;}
legend{color:#000;padding:0;}
a img, iframe{border: none;}
html{background:#FFF url(../themes/vodafone2013/images/layout/royalGrayBackground.png) repeat-x;font-family:Helvetica, Arial, sans-serif;}
html[lang="ja-JP"], html[lang="ja-JP"] input, html[lang="ja-JP"] textarea, html[lang="ja-JP"] select{font-family:"Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Meiryo, "メイリオ", "MS PGothic", "MS Pゴシック", Helvetica, Arial, sans-serif;}
body{font-size:.75em;line-height:1.250em;text-align:left;}
h2, h3, h4, h5, h6{font-family:Arial, sans-serif;font-weight:bold;}
h1{font-size:2.083em;font-weight:normal;line-height:1.8em;}
h2{font-size:1.333em;line-height:1.4em;}
h3{color:#2F2F2F;font-size:1.167em;line-height:1.3em;}
h4{color:#404040;font-size:1em;line-height:1.3em;}
h5{color:#505050;font-size:0.917em;line-height:1.0em;}
h6{color:#505050;font-size:0.833em;line-height:.8em;}
p{line-height:1.4em;margin-bottom:1em;}
table{border-collapse:separate;border-spacing:0.3em;}
hr{margin:10px 0px;}
strong{font-weight: bolder;}
caption{color:#404040;font-size:1em;font-weight:bold;line-height:1.3em;}
blockquote{margin:10px 30px;}
input[type="text"], input[type="password"]{height:18px;}
input, textarea, select{border:solid 1px #B1B1B1;font-family:Helvetica, Arial, sans-serif;padding:2px;}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus{border-color:#AAA;background-color:#F8F8F8;}
.vfContentWrapper input[type="submit"], button{}
.vfContentWrapper input[type="submit"]:hover, .vfContentWrapper input[type="submit"]:focus, .vfContentWrapper button:hover, .vfContentWrapper button:focus{background-position: 0px -40px;border-color:#46494D;cursor:pointer;}
input[type="submit"][disabled], button[disabled]{background-color:#304764;background-position: 0px -40px;border-color:#333;color:#DDD;}
input[type="submit"]:focus, button:focus{outline :#000 dotted 1px\9}
#rn_Container{height:100%;margin:0px auto;overflow:visible;text-align:left;width:942px;}
#rn_Header{color:#FFF;height:72px;min-height:72px;overflow:visible;padding:0 10px;}
#rn_Header a{color:#FFF;}
#rn_Logo{cursor:pointer;float:left;font-family:"Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;height:70px;letter-spacing:-0.8px;margin-top:4px;position:relative;width:32%;}
#rn_Logo a{bottom:0;color:#FFF;cursor:pointer;font-size:2.083em;font-weight:normal;left:0;line-height:1em;text-decoration:none;}
#rn_Logo a span.rn_LogoTitle{cursor:pointer;top:20px;position:relative;}
#rn_Logo a span.rn_LogoTitleMinor{color:#DEDEDE;}
#rn_Logo a img{display:block;}
#rn_LoginStatus{font-size:0.917em;text-align:right;}
#rn_LoginStatus a{font-weight:bold;text-decoration:none;}
#rn_Navigation{background:transparent none repeat scroll center top;height:31px;_height:28px;margin-left:1px;padding:3px 10px 0 0;}
#rn_NavigationBar{float:left;height:14px;}
#rn_NavigationBar ul li{float:left;}
#rn_Footer, #rn_Body{background:#FFF;border-right:1px solid #DDD;border-left:1px solid #DDD;overflow:hidden;padding:0 0px 20px 10px;text-align:left;width:99%;-moz-box-shadow:3px 3px 3px #888;-webkit-box-shadow:3px 3px 3px #888;}
#rn_MainColumn{background:#FFF;float:left;margin-right:8px;min-height:650px;height:auto !important;height:650px;overflow:visible;padding:0px 0px 10px 6px;width:74%;}
#rn_SideBar{float:right;margin-right:12px;width:23%;}
#rn_Footer{border-bottom:1px solid #E2E2E2;}
#rn_RightNowCredit{border-top:1px solid #DDD;clear:both;padding:10px 0px 10px 0px;text-align:right;margin:auto 20px;}
.rn_LoginForm2,.rn_EmailCredentials2{padding: 40px 0 0 0;}
body, fieldset legend{color:#000;}
#rn_SideBar .rn_Padding{padding:16px 4px 2px 10px;overflow:auto;}
.rn_HelpResources{margin:0 4px 10px 4px;}
.rn_HelpResources .rn_Questions, .rn_HelpResources .rn_Community, .rn_HelpResources .rn_Contact, .rn_HelpResources .rn_Chat, .rn_HelpResources .rn_Feedback{margin-top:10px;}
.rn_HelpResources a{background:url(../themes/vodafone2013/images/layout/contactDiscs.png) no-repeat;color:#464646;display:block;font-size:1.25em;font-weight:bold;min-height:22px;height:auto !important;height:22px;padding:10px 0 0 40px;text-decoration:none;}
.rn_HelpResources a:hover{text-decoration:underline;}
.rn_HelpResources span{display:block;margin:0 0 0 44px;}
.rn_HelpResources .rn_Questions a{background-position: 0px -4px;}
.rn_HelpResources .rn_Contact a{background-position: 0px -48px;}
.rn_HelpResources .rn_Chat a{background-position: 0px -96px;}
.rn_HelpResources .rn_Feedback a{background-position: 0px -140px;}
.rn_HelpResources .rn_Community a{background-position: 0px -184px;}
#rn_SearchControls{background:#EFEFF4 url(../themes/vodafone2013/images/layout/whitePixel.png) repeat-x scroll 0 0;border:1px solid #BBB;clear:left;float:left;overflow:visible;padding:8px 0 8px 12px;position:relative;width:97.4%;}
#rn_SearchControls form fieldset{padding:0 0 6px;_margin-bottom:20px;}
#rn_SearchControls form input[type="submit"], #rn_SearchControls form input[type="image"]{margin:1.3em 0 0 1.3em;padding:.4em 1em;}
#rn_SearchControls input{_margin:1.3em 0 0 1.3em;_padding:.4em 1em;}
#rn_SearchControls .rn_SearchInput{float:left;position:relative;width:50%;}
#rn_SearchControls .rn_SearchInput a{color:#25383C;display:block;float:right;font-size:.917em;margin-right:-8px;*margin-right:0;*position:absolute;*right:-8px;_right:0px;text-decoration: none;}
#rn_SearchControls .rn_SearchInput label{bottom:0px;position:absolute;*bottom:-50px !important;*position:relative !important;}
#rn_SearchControls .rn_SearchInput input{font-weight:bold;height:1.3em;margin-bottom:20px;_margin: 0;padding:4px 4px 3px;width:100%;}
#rn_PageTitle{border-bottom:1px solid #E2E2E0;color:#25383C;overflow:hidden;padding:16px 0 0;}
#rn_PageTitle.rn_Home, #rn_PageTitle.rn_QuestionList, #rn_PageTitle.rn_AnswerList{border-bottom:0;overflow:visible;}
#rn_PageTitle.rn_Home{margin-bottom:10px;}
#rn_PageTitle h1, #rn_PageTitle h2, #rn_PageTitle h3, #rn_PageTitle h4, #rn_PageTitle h5, #rn_PageTitle h6{clear:left;}
#rn_PageTitle p{clear:both;}
#rn_PageContent{clear:both;overflow:hidden;}
#rn_PageContent form h2, .rn_HeadingBar{clear:both;color:#414142;letter-spacing:-0.03em;padding:4px;margin:20px 0 10px;}
form legend{font-size:0em;visibility:hidden;}
form fieldset{padding-left:8px;}
form button{margin-top:20px;}
form .rn_Column{margin-bottom:10px;}
.rn_HintBox{background-color:#F2F2F2;border:1px solid #DBDBDB;color:#222;opacity:.7;padding:4px 16px 2px;-webkit-border-top-right-radius:10px;-webkit-border-bottom-right-radius:10px;-moz-border-radius-bottomright:10px;-moz-border-radius-topright:10px;}
.rn_Required, .rn_ErrorLabel{color:#C10000;}
.rn_ErrorField{background-color:#FEFDA0 !important;}
.rn_MessageBox{background-color:#FFFFE0;border:1px solid #808080;color:#990000;margin:10px 0;padding:6px;}
.rn_ErrorMessage{background:#FFFFE0 url(../themes/vodafone2013/images/layout/important.png) no-repeat;padding:8px 6px 8px 40px !important;}
.rn_ErrorMessage a{color:#990000;}
.rn_InfoMessage{background:#FFFFE0 url(../themes/vodafone2013/images/layout/info.png) no-repeat;padding:6px 6px 4px 40px !important;}
.rn_TextInput .rn_Text, .rn_TextInput .rn_Password, .rn_TextInput .rn_TextArea{width:30%;}
.rn_Dialog{overflow:visible;}
.rn_Dialog ol, .rn_Dialog ul{padding:0.4em 0 0 1.8em;}
.rn_Dialog ol li{list-style:decimal outside none;}
.rn_Dialog ul li{list-style:disc outside none;}
.rn_Module{background:#F7F7F7;border:1px solid #CCC;clear:both;margin-bottom: 12px;overflow:hidden;padding-bottom:8px;}
.rn_Module h3, .rn_Module h2{background:#EBEFF5 url(../themes/vodafone2013/images/layout/whitePixel.png) repeat-x scroll 0 0;border-bottom:1px solid #CCC;font-family:"Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;font-weight:normal;margin-bottom:8px;padding:4px;}
.rn_Module button, .rn_Module a{margin:4px;}
.rn_FloatRight{float:right;}
.rn_FloatLeft{float:left;}
.rn_Padding{padding:8px 10px 2px 10px;}
.rn_ClearBoth{clear:both;}
.rn_Highlight{font-style:normal;font-weight:bold;text-decoration:inherit;}
.rn_ColumnContainer{width:100%;}
.rn_Column{width:48%;}
.rn_LeftColumn{float: left;padding:0 4px 0 0;}
.rn_RightColumn{float:right;padding: 0 0 0 4px;}
#rn_Summary{padding: 7px 0 0 0;line-height:1em;letter-spacing:-.01em;}
#rn_AnswerInfo{color:#888;margin:6px 0 20px;}
#rn_AnswerInfo div{display:inline;}
#rn_AnswerText{clear:both;line-height:1.4em;padding:5px 0 15px;}
#rn_FileAttach{padding-bottom:1em;}
.rn_QuestionDetail ol, .rn_QuestionDetail ul, .rn_AnswerDetail ol, .rn_AnswerDetail ul{margin-bottom:1em;padding-left:2em;clear: both;}
.rn_QuestionDetail li, .rn_AnswerDetail li{line-height:1.4em;margin:4px;}
.rn_QuestionDetail ol ol, .rn_QuestionDetail ol ul, .rn_QuestionDetail ul ol, .rn_QuestionDetail ul ul, .rn_AnswerDetail ol ol, .rn_AnswerDetail ol ul, .rn_AnswerDetail ul ol, .rn_AnswerDetail ul ul{margin-bottom:0;}
.rn_QuestionDetail ol li, .rn_QuestionDetail ul li ol li, .rn_AnswerDetail ol li, .rn_AnswerDetail ul li ol li{list-style:decimal;}
.rn_QuestionDetail ol li ol li, .rn_AnswerDetail ol li ol li{list-style:lower-alpha;}
.rn_QuestionDetail ul li, .rn_AnswerDetail ul li{list-style:disc;}
.rn_QuestionDetail ul li ul li, .rn_QuestionDetail ol li ul li, .rn_AnswerDetail ul li ul li, .rn_AnswerDetail ol li ul li{list-style:circle;}
#rn_UpdateQuestion textarea{width:98%;}
#rn_QuestionThread{margin:4px;}
#rn_AdditionalInfo, #rn_DetailTools{background:#EEE url(../themes/vodafone2013/images/layout/whitePixel.png) repeat-x scroll 0 0;border:1px solid #BBB;}
#rn_AdditionalInfo{margin:1em;overflow:hidden;padding:12px;width:560px;}
#rn_DetailTools{line-height:1em;margin-top:2em;padding:8px 0;text-align: right;}
#rn_PageContent.rn_Home ol{margin:12px;overflow:hidden;}
#rn_PageContent.rn_Home ol li{float:left;margin:0px;padding:4px;width:48%;}
#rn_PageContent.rn_Home ol li img{display:none;}
#rn_PageContent.rn_Home ol li a{float:left;font-size:.8em;}
#rn_PageContent.rn_Home .rn_AnswersLink{display:inline-block;font-size:120%;font-weight:bold;margin:10px 0 10px 16px;}
.rn_Overview{padding:12px 10px 2px;}
.rn_Overview h2{background-color:#F9F9F9;border:1px solid #DDD;margin-top:10px;}
.rn_Overview h2 a, .rn_Overview h2 b{background:url(../themes/vodafone2013/images/layout/accountOverview.png) no-repeat;color:#505050;display:block;height:26px;margin:4px;outline:none;padding:8px 0 0 40px;text-decoration:none;}
.rn_Overview a:focus, .rn_Overview a:hover{text-decoration:underline;}
.rn_Overview a.rn_Questions{background-position: 0px 2px;}
.rn_Overview a.rn_Profile{background-position: 2px -38px;}
.rn_Overview a.rn_Notifs{background-position: 0px -74px;}
.rn_Overview b.rn_Contracts{background-position: 0px -114px;}
.rn_Overview div.rn_Questions, .rn_Overview div.rn_Notifs, .rn_Overview div.rn_Profile, .rn_Overview div.rn_Contracts{margin:10px 0px 40px 40px;}
.rn_QuestionList caption{font-size:1.333em;font-weight:bold;line-height:1.4em;}
.rn_CreateAccountInfo{background:#FAF9F5;border:1px solid #ECECEC;color:#454545;padding:8px;}
.rn_CreateAccountInfo h2{text-align: center;}
.rn_CreateAccountInfo button{display:block;margin:auto;width:40%;}
.rn_CreateAccountInfo ul{margin-top:10px;}
.rn_CreateAccountInfo li{background:url(../themes/vodafone2013/images/layout/createAccount.png) no-repeat;height:32px;list-style-type: none;margin:4px 0 16px;padding:4px 0px 4px 40px;}
.rn_CreateAccountInfo li.rn_Communicate{background-position: 0px 0px;}
.rn_CreateAccountInfo li.rn_Feedback{background-position: 0px -46px;}
.rn_CreateAccountInfo li.rn_Customize{background-position: 0px -96px;}
#rn_SkipNav a{left:0px;height:1px;overflow:hidden;position:absolute;top:-500px;width:1px;}
#rn_SkipNav a:active, #rn_SkipNav a:focus{background-color:#FFF;height:auto;left:auto;top:auto;width:auto;}
@media print{body{font-size:1em;}
#rn_DetailTools, #rn_Header, #rn_Navigation, #rn_SideBar, #rn_Footer{display:none;}
}
#rn_ChatContainer{height:100%;margin:0px auto;overflow:visible;text-align:left;}
#rn_ChatDialogContainer{background-color:#EBEFF5;border:1px solid #555555;overflow:hidden;_overflow-y:auto;position:relative;min-height:440px;height:auto;_height:445px;}
#rn_ChatDialogContainer[id=RN_CHATDIALOGCONTAINER]{height:445px;overflow-y:auto;}
#rn_ChatDialogHeaderContainer{height:30px;overflow:visible;padding:4px;vertical-align:middle;}
#rn_ChatDialogTitle{margin-top: 8px;}
#rn_ChatDialogHeaderButtonContainer button{background: transparent none repeat scroll 0 0;border-color: transparent;color: #555555;margin-right: .25em;-moz-box-shadow: 0px 0px 0px transparent;-webkit-box-shadow: 0px 0px 0px transparent;padding: 2px;}
#rn_ChatDialogHeaderButtonContainer button:hover, #rn_ChatDialogHeaderButtonContainer button:focus{background-color: #F8F8F8;border-color: #CCCCCC #555555 #555555 #CCCCCC;color: #000000;}
#rn_InChatButtonContainer{overflow: visible;}
#rn_PreChatButtonContainer{overflow: visible;}
#rn_ChatQueueSearchContainer{bottom: 0px;position: absolute;width: 100%;}
#rn_ChatLogo{height:100px;position: absolute;right: 10px;top: 10px;width:135px;}
@media print{#rn_ChatDialogHeaderContainer, #rn_InChatButtonContainer, #rn_PreChatButtonContainer, #rn_ChatQueueSearchContainer, #rn_ChatLogo{display:none;}
#rn_ChatContainer{border:0;}
}
html{background: transparent url(https://www.vodafone.co.nz/css/3.0/img/menu/menu_bg01.gif) repeat-x scroll 0 0;}
.rn_Padding{padding: 0;}
#rn_ChatDialogContainer{background-color:#FFF;border:1px solid #999;}
.rn_ChatEngagementStatus{background: #F6F6F6 !important;border: 0 !important;}
#footerSuper .copyright{overflow: hidden;clear: none !important;width: 975px !important;margin-top: 1em;}
#rn_search_box_home{background: transparent url('/euf/assets/vodafone/images/home_background.gif') no-repeat top left;height: 117px;padding: 20px 20px;}
#rn_search_box_home h2{font-size:16px;font-weight:bold;}
#rn_search_box_home .KeywordText{width: 365px;float: left;}
#rn_search_box_home .KeywordField{width: 350px;height: 26px;border: 1px solid #cccccc;padding: 2px;color:#666666;font-size:1.4em;}
#rn_search_box_home .SearchButton{width: 102px;padding-top: 1px;float: left;}
#header_left_col{width: 300px;float: left;}
#header_left_col h2{color:#C80000;font-size:2.1em !important;font-weight:bold;line-height:1.1em;margin:0 0 0.2em;padding-top: 14px;}
#header_left_col p{font-size:1.3em;}
#header_right_col{width: 260px;float: right;}
#rn_speech_bubble{position: relative;height: 127px;}
#rn_speech_bubble .formButtons{top:88px;float:right;position:relative;width:100px;}
#rn_speech_bubble .formButtons .textBtnRedMedium span{padding:3px 10px 11px 0;}
#rn_search_box{background-color: #dbdbdb;height: 72px;padding: 24px 20px;}
#rn_search_box h2{font-size:16px;font-weight:bold;margin: -8px 0px 0px 0px;padding: 0 0 10px 0;}
#rn_search_box .KeywordText{width: 365px;float: left;}
#rn_search_box .KeywordField{width: 350px;height: 26px;border: 1px solid #cccccc;padding: 2px;color:#666666;font-size:1.4em;}
#rn_search_box .SearchButton{width: 102px;padding-top: 1px;float: left;}
h2#topic_selection{color:#C80000;font-size:2.1em !important;font-weight:bold;line-height:1.1em;margin:0.4em 0 0.5em;}
#topicsLogin{margin-top: 0px;}
#topic-answers .rightnow_answers{width: 760px;position: relative;}
.rightnow_answers li.question{border-top: 1px solid #EDEDED;margin: 0pt;background-color: #FFF;cursor: pointer;min-height:21px;height:auto !important;height:21px;}
.rightnow_answers li.answer{display:none;overflow: auto;}
.rightnow_answers li.question span a{background-image: url('/euf/assets/vodafone/images/expander_sprite.gif');background-position: 5px 9px;background-repeat: no-repeat;font-size: 15px;text-decoration: none;color: #666;}
.rightnow_answers li.question a{display:block;padding:5px 0 5px 28px;}
.rightnow_answers li.question a:hover{background-color: #f4f4f4;}
.rightnow_answers div.Multiline .List{padding: 0px 0px 15px 0px;}
.rightnow_answers li.selected span.rn_Element2 a{background-color:#F4F4F4;}
.rightnow_answers li span.loading, #contact-us-form span.loading{float: left;margin-top: 4px;margin-left: 4px;display: none;}
.rightnow_answers li.last{border-bottom: 1px solid #EDEDED;}
.modBorder h3, #lightbox h3{cursor:default;font-weight:700;margin:0;min-height:21px;padding:15px 0 10px 0;width:auto;}
#login-form{overflow: auto;}
#login-form .rn_LoginForm2 label{display:block;float:left;height:21px;margin: 0px 12px 0px 10px;padding-left:15px;padding-top: 2px;text-align:right;width:98px;}
#login-form .rn_LoginForm2 input, #forgot-password .rn_EmailCredentials2 input{height:15px;width:295px;margin-bottom: 15px;}
#login-form .rn_LoginForm2 input.button{background:transparent url('/rnt/rnw/img/enduser/login_btn_off.png') no-repeat scroll left top;width:47px;float: right;}
#login-form .rn_LoginForm2 input.button:hover{background:transparent url('/rnt/rnw/img/enduser/login_btn_on.png') no-repeat scroll left top;}
#login-form .rn_LoginForm2 input.button{border:medium none;color:#FFFFFF;font-weight:700;height:25px;margin:0;padding:0 0 12px;text-align:center;margin-top: 10px;cursor: pointer;}
#forgot-password .rn_EmailCredentials2 label{display:block;float:left;height:12px;margin-left:10px;margin-right:12px;margin-top:3px;padding-left:15px;text-align:right;width:103px;}
#forgot-password .rn_EmailCredentials2 input.button:hover, #CreateAccount a.button:hover{background:transparent url('/rnt/rnw/img/enduser/email_pass_gray_btn_on.png') no-repeat scroll left top;text-decoration: none;}
#forgot-password .rn_EmailCredentials2 input.button, #CreateAccount a.button{background:transparent url('/rnt/rnw/img/enduser/email_pass_gray_btn_off.png') no-repeat scroll left top;margin:5px 0 0;width:147px;}
#forgot-password .rn_EmailCredentials2 input.button, #CreateAccount a.button{border:medium none;color:#FFFFFF;font-weight:700;height:25px;margin:0;padding:0 0 12px;text-align:center;display: block;float: right;margin: 10px 10px 0px 0px;cursor: pointer;}
#CreateAccount{clear: both;overflow: auto;width: 545px;}
#forgot-password{overflow: auto;width: 545px;}
#contentGrid #forgot-password form{overflow: auto;padding: 12px 0px;}
#contentGrid #login-form form{overflow: auto;padding: 12px 0px;}
#rn_FormSubmit_11{padding: 20px 0;}
.link_list1Col{padding: 20px 0 0 0;}
.rn_createaccount label{float:left;font-weight:bold;margin-top:14px;width:142px;}
.rn_createaccount input.rn_Text, .rn_createaccount input.rn_Password{color:#666666;float:left;font-size:1.4em;margin-left:12px;margin-top:4px;margin-bottom: 7px;padding:4px;width:354px;}
.rn_createaccount .formButtons{clear: left;}
#horizontal-logos{padding-top: 20px;clear: both;}
#horizontal-logos .phoneLogos{border-left:1px solid #E9E9E9;border-right:1px solid #E9E9E9;border-bottom:1px solid #E9E9E9;overflow:auto;width: 186px;}
#horizontal-logos .phoneLogos li a{border-bottom: none;}
#horizontal-logos .phoneLogos a.apple{width:90px;}
#horizontal-logos .phoneLogos a.blackBerry{width:90px;}
#horizontal-logos .phoneLogos a.hp{width:90px;}
#horizontal-logos .phoneLogos a.imate{width:90px;}
#horizontal-logos .phoneLogos a.motorola{width:90px;}
#horizontal-logos .phoneLogos a.palm{width:90px;}
#horizontal-logos .phoneLogos a.samsung{width:90px;}
#horizontal-logos .phoneLogos a.sony{width:90px;}
#horizontal-logos .phoneLogos a.lg{border-right: 1px solid #E9E9E9;}
#horizontal-logos .phoneLogos a.vodafone{border-right: 1px solid #E9E9E9;}
#horizontal-logos .phoneLogos a.allBrands{border-right: 1px solid #E9E9E9;border-top:1px solid #E9E9E9;width:90px;}
#horizontal-logos .phoneLogos a.allBrands{border-right: 1px solid #E9E9E9;border-top:1px solid #E9E9E9;width:90px;padding-top:27px;text-align:center;height:46px;text-decoration: underline;}
#horizontal-logos .phoneLogos a.placeholder{border-top:1px solid #E9E9E9;}
a.textBtnGrey, .yui-skin-sam button, #answer_feedback_header a input, #answer-links input, #answer-links ul li, #answer-links span a span, #answer-links a span{background: -webkit-linear-gradient(top, rgba(117,117,117,1) 52%,rgba(56,56,56,1) 100%);background: -moz-linear-gradient(top, rgba(117,117,117,1) 52%,rgba(56,56,56,1) 100%);background: -ms-linear-gradient(top, rgba(117,117,117,1) 52%,rgba(56,56,56,1) 100%);background: -o-linear-gradient(top, rgba(117,117,117,1) 52%,rgba(56,56,56,1) 100%);background: linear-gradient(top, rgba(117,117,117,1) 52%,rgba(56,56,56,1) 100%);-webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,1);-moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,1);box-shadow: 1px 1px 3px 0px rgba(0,0,0,1);border: solid 1px rgba(201,201,201,1);-webkit-border-radius: 7px;-moz-border-radius: 7px;border-radius: 7px;height: 24px;width: 50px;padding: 3px;margin: -22px 10px 0px 10px;display: inline;font-size: 12px;color: rgba(255,255,255,1);font-weight: bold;text-align: center;float: left;}
#answer-links span a span, #answer-links a span{height: 16px;}
.yui-skin-sam button:hover, #answer_feedback_header a:hover input, #answer-links span a:hover span, #answer-links a:hover span{background: -webkit-linear-gradient(top, rgba(117,117,117,1) 52%,rgba(140,138,140,1) 100%);background: -moz-linear-gradient(top, rgba(117,117,117,1) 52%,rgba(140,138,140,1) 100%);background: -ms-linear-gradient(top, rgba(117,117,117,1) 52%,rgba(140,138,140,1) 100%);background: -o-linear-gradient(top, rgba(117,117,117,1) 52%,rgba(140,138,140,1) 100%);background: linear-gradient(top, rgba(117,117,117,1) 52%,rgba(140,138,140,1) 100%);}
#answer-links .rn_SocialBookmarkLink ul li{border: none;-webkit-box-shadow: none;border: none;width: 135px;}
.button:active{}
a.textBtnGrey, a.textBtnGrey span,#answer-detail button a span{color: #fff;text-decoration: none;}
a.textBtnGrey{height: 18px;}
a.textBtnGrey span,#answer-detail button a:hover span{color: #fff;text-decoration: none;}
#answer_feedback_button_wrapper{width: 200px;margin: 0px 0px 0px 240px;}
#answer-links .rn_SocialBookmarkLink a{color:#222;text-decoration:none;}
a.textBtnGrey:hover span, #answer-links .rn_SocialBookmarkLink a:hover{white-space:normal;text-decoration: none;}
a.textBtnGrey:hover span, #answer-links .rn_SocialBookmarkLink a:hover span{text-decoration:none;}
#answer-links .rn_SocialBookmarkLink .rn_Panel{background-color:#FFF;padding:6px;}
#answer-links .rn_SocialBookmarkLink .rn_Panel .hd{border:none !important;}
#answer-links div.rn_SocialBookmarkLink .rn_Panel li{background:url(../themes/vodafone2013/images/icons/socialBookmark.png) no-repeat;height: 16px;margin: 7px;padding: 0px 0 0 0;}
#answer-links div.rn_SocialBookmarkLink li.rn_Link1{background-position:0 0;}
#answer-links div.rn_SocialBookmarkLink li.rn_Link2{background-position:0 -16px;}
#answer-links div.rn_SocialBookmarkLink li.rn_Link3{background-position:0 -32px;}
#answer-links div.rn_SocialBookmarkLink li.rn_Link4{background-position:0 -48px;}
#answer-links div.rn_SocialBookmarkLink li.rn_Link5{background-position:0 -64px;}
#answer-links div.rn_SocialBookmarkLink li.rn_Link6{background-position:0 -80px;}
.mod1Col, .mod2Col, .mod3Col, .mod4Col, .mod5Col{margin:3px 6px 3px 0;}
.noBorder{border:none;}
.modCopy1col, .mod1Col{width:184px;float:left;}
.mod1Col .modCopy, .modCopy1col{width:171px;}
.mod3Col{width: 550px;float: left;}
#topicsLogin{float: right;}
div#ajax_answer{padding: 10px;overflow: auto;}
#ajax_answer h2{font-size:16px;font-weight:bold;color: #000;padding: 12px 0px;}
#ajax_answer p, #ajax_answer h2, #ajax_answer h3, #ajax_answer h4{margin: 1.2em 0;padding: 30px 0 0 0;}
div#ajax_answer a, div#answer-detail a{}
div#ajax_answer a.textBtnRed{text-decoration:none;}
#ajax_answer .rn_EmailAnswerLink a{}
#ajax_answer .rn_EmailAnswerLink a:hover, #ajax_answer .PrintPage a:hover{background-position:left -100px;color: #CC0000;text-decoration: underline;}
#ajax_answer .rn_AnswerNotificationIcon3 a{padding-left:20px;}
#ajax_answer .rn_AnswerNotificationIcon3 a:hover{color: #CC0000;text-decoration: underline;}
#ajax_answer .rn_AnswerFeedback2{float: left;margin: 10px 25px 10px 10px;}
#ajax_answer .rn_AnswerFeedback2Control{margin-bottom: 10px}
#ajax_answer #answer-details{margin-top: 30px;margin-bottom: 30px;}
#ajax_answer #answer-links{}
#ajax_answer #answer-links li{padding-bottom: 5px;width: 50px;height: 15px;}
#ajax_answer #answer-links li span a span,#ajax_answer #answer-links li div a{color: white;}
#ajax_answer #answer-links li div a:hover{text-decoration:none;}
#ajax_answer #alsoviewed h3{background:#FFFFFF url('https://www.vodafone.co.nz/css/1.2/img/dottedLine.gif') repeat-x scroll right bottom;border:0 none;cursor:default;font-size:1.182em;font-weight:700;margin:0;min-height:21px;padding-bottom:2px;width:auto;}
.selection-links{margin: 0px 10px;padding-bottom: 20px;}
.selection-links select{width: 120px;}
.rn_AnswerNotificationIcon3 a{padding-left:20px;}
.rn_AnswerNotificationIcon3 a:hover{color: #CC0000;text-decoration: underline;}
.rn_AnswerFeedback2{float: left;margin: 10px 25px 10px 10px;height:100px;width: 360px;}
.rn_AnswerFeedback2Control{margin-bottom: 10px}
#answer-bottom{overflow: auto;margin-top: 30px;width: 735px;}
#answer-links{float: right;margin-top: 29px;width: 200px;}
#answer-links li{padding-bottom:5px;}
#answer-detail{padding: 10px;width: 740px;clear: both;}
#answer-detail p, #answer-detail h2, #answer-detail h3, #answer-detail h4{margin: 1.2em 0;}
#answer-detail ul, #device-list ul{line-height:1.3em;list-style-type:disc;margin:0.5em 0 0.7em;padding-left:16px;}
#answer-detail ol, #device-list ol{line-height:1.3em;list-style-type:decimal;margin:0.5em 0 0.7em;padding-left:30px;}
#answer-detail li, #device-list li{margin-bottom: 0px;}
#answer-detail h2, #ajax_answer h3, #ajax_answer h4, #answer-detail h4{font-weight: bold;}
#answer-detail h2{margin-top: 15px;font-size:1.5em;line-height:2em;}
#answer-detail h3{}
#alsoviewed{width: 750px;display: block;}
#navigation{margin: 0px 2px;}
#navigation li ul{width: 176px;}
#navigation li ul ul{width: 176px;}
#navigation li ul ul ul{width: 176px;}
#navigation li ul li{height: 100%;width: 176px;}
#navigation li a{display: block;}
#navigation li .level_0-hitarea{margin-left: 5px;}
#navigation li ul li a{margin-left: 25px;display: block;}
#navigation li ul li.expandable a, #navigation li ul li.collapsable a{margin-left: 2px;}
#navigation li ul li .level_1-hitarea{margin-left: 22px;margin-bottom: 4px;}
#navigation li ul li li.level_2 a{margin-left: 47px;display: block;}
#navigation li ul li li.level_3 a{margin-left: 55px;display: block;}
#navigation li ul li.collapsable li.expandable li.level_3 a, #navigation li ul li.collapsable li.collapsable li.level_3 a{margin-left: 55px;}
#navigation li ul li.collapsable li.expandable a, #navigation li ul li.collapsable li.collapsable a{margin-left: 2px;}
#navigation li ul ul li .level_2-hitarea{margin-left: 36px;}
#navigation li.collapsable a{font-weight: bold;}
#navigation li.collapsable ul li a{font-weight: normal;}
#navigation li ul ul li{height: 100%;width: 176px;}
#navigation li ul ul ul li{height: 100%;width: 176px;}
#navigation li.collapsable{padding-bottom: 0px;}
ul#navigation li.selected ul li{background-color: none;}
ul#navigation li.selected a{color:#C80000;text-decoration:underline}
#rn_secondarystyle #feedback_wrapper #feedback{z-index:1;}
.link_list1Col{bottom:7px;overflow:hidden;position:relative;}
#top-quicklinks a.icon-login, #top-quicklinks a.icon-register{background:transparent url('https://www.vodafone.co.nz/css/3.0/img/buttons/arrow.gif') no-repeat scroll right 8px;padding-right:25px;}
#breadcrumbs{margin-bottom: 15px;margin-left: 3px;}
#breadcrumbs a:hover{color:#333333;}
#breadcrumbs h3 a{margin:2px;}
#breadcrumbs h3, #breadcrumbs a, #breadcrumbs{color:#6D6D6D;}
#breadcrumbs h3{font-weight:bold;margin:3px 0 5px;}
img#home-level-arrow-down{position:absolute;top: 126px;right: 62px;display: none;}
img#internet-level-arrow-down{position:absolute;top: 126px;right: 62px;display: none;}
.rn_Response a{padding-left: 1em;text-decoration: underline;}
.rn_Prompt{font-size:12px;margin: 1em 0;}
.rn_SmartAssistantDialog .button-group{color:#404040;font-size:12px;font-weight:bold;}
.rn_SmartAssistantDialog button{padding-left:1em;}
#vodafone-print{width: 960px;}
#vodafone-print #rn_content{background: none;}
#vodafone-print #rn_content.rn_answerdetail #rn_questiontext{background: none;}
#vodafone-print #rn_content.rn_answerdetail #rn_answertext{background: none;}
#vodafone-print #rn_summary{color: #000;font-weight:bold;margin:10px 0;font-size: 16px;}
#vodafone-print .rn_print_answer{margin: 0px;background-color: #FFF;padding: 10px;}
#contact-us-form .rn_ErrorMessage{background:#FFFFE0 url('/euf/assets/images/layout/important.png') no-repeat scroll 0 0;padding:8px 6px 8px 40px !important;}
#contact-us-form .rn_ErrorMessage a{font-weight: normal;}
#contact-us-form .rn_ErrorMessage span.ErrorSpan{color: #000;}
#contact-us-form .rn_MessageBox{background-color:#f4f4f4;border:1px solid #808080;color:#990000;margin:10px 0;padding:6px;}
#profile .rn_ErrorMessage{background:#FFFFE0 url('/euf/assets/images/layout/important.png') no-repeat scroll 0 0;padding:8px 6px 8px 40px !important;display: none;}
#profile .rn_ErrorMessage a{font-weight: normal;}
#profile .rn_ErrorMessage span.ErrorSpan{color: #000;display: block;}
#profile .rn_MessageBox{background-color:#f4f4f4;border:1px solid #808080;color:#990000;margin:10px 0;padding:6px;}
#my-help .modCopy{padding-bottom: 0px;}
#my-help p{margin: 0px;padding: 0px 0px 50px 0px;font-size: 12px;}
#my-help .modHeader{height: 2.7em;}
#my-help ul.link_list1Col{margin-top: 9px;}
#socialApplicationsWrapper{background: transparent url('/euf/assets/vodafone/images/share_applications_background.gif') no-repeat top left;height: 29px;width: 190px;position: relative;top: 13px;left: 389px;overflow: auto;margin:0px auto 6px;z-index: 2;}
#socialApplicationsWrapper p#print-home{background: transparent url('/euf/assets/vodafone/images/printer-gray.gif') no-repeat scroll right 5px;cursor: pointer;padding-left: 11px;padding-top: 4px;width: 40px;float: left;font-size: 11px;}
#socialApplications{float: right;padding-right:12px;padding-top:2px;width: 119px;}
#socialApplications p#share-home{width: 33px;float: left;font-size: 11px;padding-top: 1px;}
#socialApplications a{padding-right: 4px;}
.petrolBG h2 a{color:#C80000;padding: 0px;font-size: 1em;}
.rn_ErrorMessage{background:#FFFFE0 url('/euf/assets/images/layout/important.png') no-repeat scroll 0 0;padding:8px 6px 8px 40px !important;}
.rn_ErrorMessage a{font-weight: normal;}
.rn_ErrorMessage span.ErrorSpan{color: #000;}
.rn_MessageBox{background-color:#f4f4f4;border:1px solid #808080;color:#990000;margin:10px 0;padding:6px;}
#logged_in .link_list1Col{top: 2px;}
#logged_in p{margin: 0px;}
#logged_in .modHeader{height: 2em;}
#logged_in .rn_LogoutLink2 a{float: right;padding: 6px 2px;}
#rn_PageContent p{margin-bottom:5px !important;}
#rn_PageContent{width: 475px;padding: 20px 15px 15px 10px;}
#rn_PageContent h3{font: bold 18px/1.2em Arial;margin-bottom:5px;}
#rn_PageContent p a{text-decoration:underline;}
div.ChatForm{border:1px solid #EDEDED;padding:15px;margin-bottom:10px;}
#rn_TextInput_4_ph_mobile{width: 175px;}
.rn_ChatStatus2, .rn_ChatHours2{text-align:center;}
.ChatForm button{margin-top:2px !important;}
#service-status{border:1px solid #DBDBDB;margin-bottom:5px;padding-left:50px;background-image:url('https://help.vodafone.co.nz/euf/assets/vodafone/images/alert-icon.png');background-repeat:no-repeat;background-position:10px 13px;position: relative;width:334px;}
#service-status h2{color:#C80000;margin-top:10px;margin-bottom:5px;}
#service-status p{margin-left:2px;margin-bottom:10px;}
#service-status a{color:#FF0000;text-decoration: underline;}
#contentGrid #service-status{margin-right:6px;margin-top:3px;}
.mbb .mod3ColSidebar #chat .title{background: url("/euf/assets/vodafone/images/livehelp_title_background.png") no-repeat scroll left top #DDDDDD;}
.sidebarChatHours{margin-top:-10px;margin-bottom:5px;}
.sidebarChatHours .rn_HoursPrefix, .sidebarChatHours .rn_Hours{font-size:10px;}
.sidebarChatHours .rn_HoursPrefix{font-weight:bold;}
.sidebarChatHours .rn_ChatHours2{text-align:left;margin-left:15px;}
#rn_DevelopmentHeader{position: fixed;top: 0;z-index: 9000;}
.yui-overlay,.yui-panel-container{visibility:hidden;position:absolute;z-index:2;}
.yui-panel{position:relative;}
.yui-panel-container form{margin:0;}
.mask{z-index:1;display:none;position:absolute;top:0;left:0;right:0;bottom:0;}
.mask.block-scrollbars{overflow:auto;}
.masked select,.drag select,.hide-select select{_visibility:hidden;}
.yui-panel-container select{_visibility:inherit;}
.hide-scrollbars,.hide-scrollbars *{overflow:hidden;}
.hide-scrollbars select{display:none;}
.show-scrollbars{overflow:auto;}
.yui-panel-container.show-scrollbars,.yui-tt.show-scrollbars{overflow:visible;}
.yui-panel-container.show-scrollbars .underlay,.yui-tt.show-scrollbars .yui-tt-shadow{overflow:auto;}
.yui-panel-container.shadow .underlay.yui-force-redraw{padding-bottom:1px;}
.yui-effect-fade .underlay,.yui-effect-fade .yui-tt-shadow{display:none;}
.yui-tt-shadow{position:absolute;}
.yui-override-padding{padding:0!important;}
.yui-panel-container .container-close{overflow:hidden;text-indent:-10000em;text-decoration:none;}
.yui-overlay.yui-force-redraw,.yui-panel-container.yui-force-redraw{margin-bottom:1px;}
.yui-skin-sam .mask{background-color:#000;opacity:.25;filter:alpha(opacity=25);}
.yui-skin-sam .yui-panel-container{padding:0 1px;*padding:2px;}
.yui-skin-sam .yui-panel{position:relative;left:0;top:0;border-style:solid;border-width:1px 0;border-color:#808080;z-index:1;*border-width:1px;*zoom:1;_zoom:normal;}
.yui-skin-sam .yui-panel .hd,.yui-skin-sam .yui-panel .bd,.yui-skin-sam .yui-panel .ft{border-style:solid;border-width:0 1px;border-color:#808080;margin:0 -1px;*margin:0;*border:0;}
.yui-skin-sam .yui-panel .hd{border-bottom:solid 1px #ccc;}
.yui-skin-sam .yui-panel .bd,.yui-skin-sam .yui-panel .ft{background-color:#F2F2F2;}
.yui-skin-sam .yui-panel .hd{padding:0 10px;font-size:93%;line-height:2;*line-height:1.9;font-weight:bold;color:#000;background:#FEF;}
.yui-skin-sam .yui-panel .bd{padding:10px;}
.yui-skin-sam .yui-panel .ft{border-top:solid 1px #808080;padding:5px 10px;font-size:77%;}
.yui-skin-sam .container-close{position:absolute;top:5px;right:6px;width:25px;height:15px;background:url(../assets/skins/sam/sprite.png) no-repeat 0 -300px;cursor:pointer;}
.yui-skin-sam .yui-panel-container .underlay{right:-1px;left:-1px;}
.yui-skin-sam .yui-panel-container.matte{padding:9px 10px;background-color:#fff;}
.yui-skin-sam .yui-panel-container.shadow{_padding:2px 4px 0 2px;}
.yui-skin-sam .yui-panel-container.shadow .underlay{position:absolute;top:2px;left:-3px;right:-3px;bottom:-3px;*top:4px;*left:-1px;*right:-1px;*bottom:-1px;_top:0;_left:0;_right:0;_bottom:0;_margin-top:3px;_margin-left:-1px;background-color:#000;opacity:.12;filter:alpha(opacity=12);}
.yui-skin-sam .yui-dialog .ft{border-top:none;padding:0 10px 10px 10px;font-size:100%;}
.yui-skin-sam .yui-dialog .ft .button-group{display:block;text-align:right;}
.yui-skin-sam .yui-dialog .ft button.default{font-weight:bold;}
.yui-skin-sam .yui-dialog .ft span.default{border-color:#304369;background-position:0 -1400px;}
.yui-skin-sam .yui-dialog .ft span.default .first-child{border-color:#304369;}
.yui-skin-sam .yui-dialog .ft span.default button{color:#fff;}
.yui-skin-sam .yui-dialog .ft span.yui-button-disabled{background-position:0 -1500px;border-color:#ccc;}
.yui-skin-sam .yui-dialog .ft span.yui-button-disabled .first-child{border-color:#ccc;}
.yui-skin-sam .yui-dialog .ft span.yui-button-disabled button{color:#a6a6a6;}
.yui-skin-sam .yui-simple-dialog .bd .yui-icon{background:url(../assets/skins/sam/sprite.png) no-repeat 0 0;width:16px;height:16px;margin-right:10px;float:left;}
.yui-skin-sam .yui-simple-dialog .bd span.blckicon{background-position:0 -1100px;}
.yui-skin-sam .yui-simple-dialog .bd span.alrticon{background-position:0 -1050px;}
.yui-skin-sam .yui-simple-dialog .bd span.hlpicon{background-position:0 -1150px;}
.yui-skin-sam .yui-simple-dialog .bd span.infoicon{background-position:0 -1200px;}
.yui-skin-sam .yui-simple-dialog .bd span.warnicon{background-position:0 -1900px;}
.yui-skin-sam .yui-simple-dialog .bd span.tipicon{background-position:0 -1250px;}
.yui-skin-sam .yui-tt .bd{position:relative;top:0;left:0;z-index:1;color:#000;padding:2px 5px;border-color:#D4C237 #A6982B #A6982B #A6982B;border-width:1px;border-style:solid;background-color:#FFEE69;}
.yui-skin-sam .yui-tt.show-scrollbars .bd{overflow:auto;}
.yui-skin-sam .yui-tt-shadow{top:2px;right:-3px;left:-3px;bottom:-3px;background-color:#000;}
.yui-skin-sam .yui-tt-shadow-visible{opacity:.12;filter:alpha(opacity=12);}
#profileOverview #searchBox, #profileOverview #questionsOverview, #profileOverview .rn_Notifs{padding: 0px 0px 40px 0px;}
#profileDetails h1.petrol{padding-top: 0px;}
#profileDetails form{padding: 10px 0 0 7px;}
#profileDetails label{font-size: 13px;}
#profileDetails span.rn_Required{font-size: 13px;color: #C80000;}
#profileDetails input.rn_Text{border: 1px solid #bbb;padding: 5px;}
#profileDetails .modHeader h2{font-size:1.5em;}
#profileDetails #changePassword{text-decoration: underline;}
#changePassword h1.petrol{padding-top: 0px;}
#changePassword form{padding: 10px 0 0 7px;}
#changePassword label{font-size: 13px;}
#changePassword span.rn_Required{font-size: 13px;color: #C80000;}
#changePassword input.rn_Password{border: 1px solid #bbb;padding: 5px;}
#changePassword .modHeader h2{font-size:1.5em;}
#changePassword #changePassword{text-decoration: underline;}
#notiList h1.petrol{padding-top: 0px;}
#notiList .rn_AnswerNotificationManager{background: none;border: none;margin-top: 0px;padding-top: 0px;padding-left: 0px;}
#notiList h2{margin-bottom: 12px;}
#notiList table{width: 100%;}
#notiList .rn_MessageBox{padding: 12px 2px;}
#notiList th{padding: 6px 2px;border-bottom: 1px solid #E9E9E9;}
#notiList td{padding: 6px 2px;border-bottom: 1px solid #E9E9E9;}
#notiList th#notifcationAnswer{width: 260px;}
#notiList th#notifcationCreated{width: 175px;}
#notiList th#notifcationExpires{width: 135px;}
#notiList th#notifcationDelete{width: 40px;}
#notiList a{text-decoration: underline;}
#questionsOverview{padding-bottom: 30px;}
#questionsOverview a{text-decoration: underline;}
#questionsOverview ul{margin-bottom: 12px;}
#questionsOverview li{overflow: auto;margin: 0px;border-bottom: 1px solid #E9E9E9;padding: 6px 2px;}
#questionsOverview span{width: 140px;display: block;float: left;font-size: 12px;}
#questionsList .KeywordField{border:1px solid #CCCCCC;color:#666666;font-size:1.4em;height:26px;padding:2px;width:280px;float: left;margin-right: 10px;margin-left: 10px;}
#questionsList #searchBox{background-color:#DBDBDB;height:35px;padding:15px 7px;margin-bottom: 20px;}
#questionsList #searchBox h2{font-size: 14px;float: left;padding-top: 7px;}
#questionDetail h1.petrol{padding-top: 0px;font-size: 30px;}
#questionDetail .rn_HeadingBar{margin-top: 20px;margin-bottom: 12px;font-size: 30px;}
#passwordChanged h1.petrol{padding-top: 0px;}
#profileUpdated h1.petrol{padding-top: 0px;}
#profileOverview .rn_Notifs a{text-decoration: underline;}
#profileOverview h1.petrol{padding-top: 0px;}
#profileOverview .rn_AnswerNotificationManager{background: none;border: none;margin-top: 0px;padding-top: 0px;padding-left: 0px;}
#profileOverview h2{margin-bottom: 12px;}
#profileOverview table{width: 100%;}
#profileOverview .rn_MessageBox{padding: 12px 2px;}
#profileOverview th{padding: 6px 2px;border-bottom: 1px solid #E9E9E9;}
#profileOverview td{padding: 6px 2px;border-bottom: 1px solid #E9E9E9;}
#profileOverview th#notifcationAnswer{width: 260px;}
#profileOverview th#notifcationCreated{width: 175px;}
#profileOverview th#notifcationExpires{width: 135px;}
#profileOverview th#notifcationDelete{width: 40px;}
#profileOverview #questionsOverview{padding-bottom: 30px;}
#profileOverview #questionsOverview a{text-decoration: underline;}
#profileOverview #questionsOverview ul{margin-bottom: 12px;}
#profileOverview #questionsOverview li{overflow: auto;margin: 0px;border-bottom: 1px solid #E9E9E9;padding: 6px 2px;}
#profileOverview #questionsOverview span{width: 140px;display: block;float: left;font-size: 12px;}
#profileOverview .KeywordField{border:1px solid #CCCCCC;color:#666666;font-size:1.4em;height:26px;padding:2px;width:280px;float: left;margin-right: 10px;margin-left: 10px;}
#profileOverview #searchBox{background-color:#DBDBDB;height:35px;padding:15px 7px;margin-bottom: 20px;}
#profileOverview #searchBox h2{font-size: 14px;float: left;padding-top: 7px;}
#rn_secondarystyle .grid #ajax_answer{width: 740px;}
.vfContentWrapper{border-left: #999 solid 1px;border-right: #999 solid 1px;border-bottom: #999 solid 2px;background-color: #fff;width: 980px;margin: 10px auto 20px auto;min-height: 350px;}
hr#contentPusher{color: #FFF;background-color: #FFF;border: solid 1px #FFF;height: 1px;}
.yui-overlay,.yui-panel-container{visibility:hidden;position:absolute;z-index:2;}
.yui-panel{position:relative;}
.yui-panel-container form{margin:0;}
.mask{z-index:1;display:none;position:absolute;top:0;left:0;right:0;bottom:0;}
.mask.block-scrollbars{overflow:auto;}
.masked select,.drag select,.hide-select select{_visibility:hidden;}
.yui-panel-container select{_visibility:inherit;}
.hide-scrollbars,.hide-scrollbars *{overflow:hidden;}
.hide-scrollbars select{display:none;}
.show-scrollbars{overflow:auto;}
.yui-panel-container.show-scrollbars,.yui-tt.show-scrollbars{overflow:visible;}
.yui-panel-container.show-scrollbars .underlay,.yui-tt.show-scrollbars .yui-tt-shadow{overflow:auto;}
.yui-panel-container.shadow .underlay.yui-force-redraw{padding-bottom:1px;}
.yui-effect-fade .underlay,.yui-effect-fade .yui-tt-shadow{display:none;}
.yui-tt-shadow{position:absolute;}
.yui-override-padding{padding:0!important;}
.yui-panel-container .container-close{overflow:hidden;text-indent:-10000em;text-decoration:none;}
.yui-overlay.yui-force-redraw,.yui-panel-container.yui-force-redraw{margin-bottom:1px;}
.yui-skin-sam .mask{background-color:#000;opacity:.25;filter:alpha(opacity=25);}
.yui-skin-sam .yui-panel-container{padding:0 1px;*padding:2px;}
.yui-skin-sam .yui-panel{position:relative;left:0;top:0;border-style:solid;border-width:1px 0;border-color:#808080;z-index:1;*border-width:1px;*zoom:1;_zoom:normal;}
.yui-skin-sam .yui-panel .hd,.yui-skin-sam .yui-panel .bd,.yui-skin-sam .yui-panel .ft{border-style:solid;border-width:0 1px;border-color:#808080;margin:0 -1px;*margin:0;*border:0;}
.yui-skin-sam .yui-panel .hd{border-bottom:solid 1px #ccc;}
.yui-skin-sam .yui-panel .bd,.yui-skin-sam .yui-panel .ft{background-color:#F2F2F2;}
.yui-skin-sam .yui-panel .hd{padding:0 10px;font-size:93%;line-height:2;*line-height:1.9;font-weight:bold;color:#000;background:url(/rnt/rnw/yui_2.7/assets/skins/sam/sprite.png) repeat-x 0 -200px;}
.yui-skin-sam .yui-panel .bd{padding:10px;}
.yui-skin-sam .yui-panel .ft{border-top:solid 1px #808080;padding:5px 10px;font-size:77%;}
.yui-skin-sam .container-close{position:absolute;top:5px;right:6px;width:25px;height:15px;background:url(/rnt/rnw/yui_2.7/assets/skins/sam/sprite.png) no-repeat 0 -300px;cursor:pointer;}
.yui-skin-sam .yui-panel-container .underlay{right:-1px;left:-1px;}
.yui-skin-sam .yui-panel-container.matte{padding:9px 10px;background-color:#fff;}
.yui-skin-sam .yui-panel-container.shadow{_padding:2px 4px 0 2px;}
.yui-skin-sam .yui-panel-container.shadow .underlay{position:absolute;top:2px;left:-3px;right:-3px;bottom:-3px;*top:4px;*left:-1px;*right:-1px;*bottom:-1px;_top:0;_left:0;_right:0;_bottom:0;_margin-top:3px;_margin-left:-1px;background-color:#000;opacity:.12;filter:alpha(opacity=12);}
.yui-skin-sam .yui-dialog .ft{border-top:none;padding:0 10px 10px 10px;font-size:100%;}
.yui-skin-sam .yui-dialog .ft .button-group{display:block;text-align:right;}
.yui-skin-sam .yui-dialog .ft button.default{font-weight:bold;}
.yui-skin-sam .yui-dialog .ft span.default{border-color:#304369;background-position:0 -1400px;}
.yui-skin-sam .yui-dialog .ft span.default .first-child{border-color:#304369;}
.yui-skin-sam .yui-dialog .ft span.default button{color:#fff;}
.yui-skin-sam .yui-dialog .ft span.yui-button-disabled{background-position:0 -1500px;border-color:#ccc;}
.yui-skin-sam .yui-dialog .ft span.yui-button-disabled .first-child{border-color:#ccc;}
.yui-skin-sam .yui-dialog .ft span.yui-button-disabled button{color:#a6a6a6;}
.yui-skin-sam .yui-simple-dialog .bd .yui-icon{background:url(/rnt/rnw/yui_2.7/assets/skins/sam/sprite.png) no-repeat 0 0;width:16px;height:16px;margin-right:10px;float:left;}
.yui-skin-sam .yui-simple-dialog .bd span.blckicon{background-position:0 -1100px;}
.yui-skin-sam .yui-simple-dialog .bd span.alrticon{background-position:0 -1050px;}
.yui-skin-sam .yui-simple-dialog .bd span.hlpicon{background-position:0 -1150px;}
.yui-skin-sam .yui-simple-dialog .bd span.infoicon{background-position:0 -1200px;}
.yui-skin-sam .yui-simple-dialog .bd span.warnicon{background-position:0 -1900px;}
.yui-skin-sam .yui-simple-dialog .bd span.tipicon{background-position:0 -1250px;}
.yui-skin-sam .yui-tt .bd{position:relative;top:0;left:0;z-index:1;color:#000;padding:2px 5px;border-color:#D4C237 #A6982B #A6982B #A6982B;border-width:1px;border-style:solid;background-color:#FFEE69;}
.yui-skin-sam .yui-tt.show-scrollbars .bd{overflow:auto;}
.yui-skin-sam .yui-tt-shadow{top:2px;right:-3px;left:-3px;bottom:-3px;background-color:#000;}
.yui-skin-sam .yui-tt-shadow-visible{opacity:.12;filter:alpha(opacity=12);}