@charset "utf-8";
/* CSS Document */
.displa{ display:none}
.inputsearch {padding:10px; width:250px;border: 1px solid #E0E0E0;font-size:8pt;font-family: tahoma; background-color:#FFFFFF; color:#333;}
.pstbutton{ background-color:#19B; padding:3px; font-size:10pt; border: 1px none; color:#FFF;}
.green{background-image: -webkit-gradient(linear, left top, left bottom, from(#53AC6B), to(#49985F)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #53AC6B, #49985F); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, #53AC6B, #49985F); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, #53AC6B, ##49985F); /* IE10 */
  background-image:      -o-linear-gradient(top, #53AC6B, #53AC6B); /* Opera 11.10+ */
  background-image:         linear-gradient(top, #53AC6B, #53AC6B);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#53AC6B', EndColorStr='#53AC6B'); /* IE6-IE9 */ border-radius:3px}
.pop{background-image: -webkit-gradient(linear, left top, left bottom, from(#19B), to(#19B)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #19B, #19B); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, #19B, #19B); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, #19B, #19B); /* IE10 */
  background-image:      -o-linear-gradient(top, #19B, #19B); /* Opera 11.10+ */
  background-image:         linear-gradient(top, #19B, #19B);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#19B', EndColorStr='#19B'); /* IE6-IE9 */ border-radius:3px}

	
.forpst{width:20%; padding:8px; cursor:pointer;margin-right:30px}
.forpst:hover{ background-color:#005E17; background-image: -webkit-gradient(linear, left top, left bottom, from(#082), to(#005E17)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #082, #005E17); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, #082, #005E17); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, #082, #005E17); /* IE10 */
  background-image:      -o-linear-gradient(top, #082, #005E17); /* Opera 11.10+ */
  background-image:         linear-gradient(top, #082, #005E17);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#2291FF', EndColorStr='#2291FF'); /* IE6-IE9 */ border-radius:3px}
.font1{font-size:12px; font-weight:bold}
* {margin:0;padding:0}
html, body {height:100%;background-color:#FFF; font-family:Arial, Helvetica, sans-serif}
html {min-width:920px}
ul, ol {
	list-style: none;
}

.container {width:1100px; margin:auto; height:auto; overflow:hidden;}
.hideover{overflow:hidden; height:auto;}
.longtail{ background:url(../img/longtail.png) no-repeat; height:20px;}
.forgot{color:#31CAF7;cursor:pointer}.forgot a{ text-decoration:none; color:#31CAF7;}
.forgot a:hover{ text-decoration:underline}
#header { background:url(../img/background.png) repeat}
#header .leftside{ float:left; width:20%;}
#header .leftside .divshit{ float:left; font-size:8pt; cursor:pointer; border-radius:5px; margin-left:10px; margin-top:15px; padding:15px}
#header .leftside .divshit:hover{ background-color:#46A3FF}
#header .ritside{width:68%; text-align:center; float:right;}
#header .ritside .menucount{overflow:hidden; height:auto;}
#header .ritside .menucount .topmenu ul{height:auto; width:100%; margin-top:2px; padding:0px; border-radius:5px;overflow:hidden;}
#header .ritside .menucount .topmenu ul li{float:left; padding:20px 0px 20px 5px;list-style:none}
#header .ritside .menucount .topmenu ul li a{font-size:18px;line-height:1.2em; border-radius:5px;color:#006B9F; width:100px; margin-top:0px;text-decoration:none; padding:18px; text-align:center; height:auto; list-style:none;}
#header .ritside .menucount .topmenu ul li:hover a{background:url(../img/background.png) repeat}
#header .ritside .menucount .topmenu ul ul{background:url(../img/background.png) repeat; border-radius: 0px; padding:0px;position: absolute; margin-top:5px;width:500px; left:40%; right:50%;}
#header .ritside .menucount .topmenu ul ul li{float: none;padding:10px 0px 5px 5px; margin-top:10px; text-align:left;}
#header .ritside .menucount .topmenu ul ul li a{color:#AEAEAE; width:200px}
#header .ritside .menucount .topmenu ul ul li:hover{}
#header .ritside .menucount .topmenu ul ul li:hover a{ color:#FF7735}

#header .ritside .menucount .topmenu ul ul{ display:none}
#header .ritside .menucount .topmenu ul ul ul{ float:left; position:absolute;  padding:5px;}
#header .ritside .menucount .topmenu ul ul ul li{ float:none; padding:50px 0px 5px 5px; margin-top:10px; text-align:left;}
#header .ritside .menucount .topmenu ul ul li a{color:#AEAEAE; width:200px}
#header .ritside .menucount .topmenu ul li:hover > ul {
		display: block;
	}
	
#seclong{padding:8px;}
#seclong .logo{width:250px; float:left; height:70px; background:url(../img/logo.png) }
#seclong .ritsearch{width:710px; float:right; padding:4px 0px 0px 0px; }
#seclong .ritsearch .ritmgh{float:right; margin-right:12px}
#seclong .ritsearch .ritgoogle{ float:right; border:1px solid #EAEAEA; width:140px; margin-top:10px}
#seclong .ritgoogle ul{height:auto;border-radius:5px;overflow:hidden;padding:10px; 0px 10px 0px}
#seclong .ritgoogle ul li{float:none;list-style:none;}
#seclong .ritgoogle ul ul{padding:5px; position: absolute; border:1px solid #EAEAEA; overflow:scroll }
#seclong .ritgoogle ul ul li{ float:none;height:auto; overflow:hidden}
#seclong .ritgoogle ul ul li a{ padding:2px; text-decoration:none}#seclong .ritgoogle ul ul li a:hover{ text-decoration:underline}
#seclong .ritgoogle ul ul{ display:none}
#seclong .ritgoogle ul li:hover > ul {
		display: block;
	}
.invit{ font-size:10pt}
.invit a{color:#FF5353; text-decoration:none; text-weight:bold;}
.invit a:hover{pointer:cursor;text-decoration:underline}
#flash{ margin:0 }
#flash .blueberry { max-width: 2000px; }
#flash .blueberry .slides {
	display: block;
	overflow: hidden;
}
#flash .blueberry .slides li {
	overflow: hidden;
	top: 0;
	left: 0;
}
#flash .blueberry .slides li img {
	display: block;
	width: 100%;
	max-width: none;
}
#flash .blueberry .slides li.active { display: block; }
#flash .blueberry .crop li img { width: auto; }
#flash .blueberry .pager {
	height: 40px;
	text-align: center;
}
#flash .blueberry .pager li { display: inline-block; }
.blueberry .pager li a,
.blueberry .pager li a span {
	display: block;
	height: 4px;
	width: 4px;
}
#flash .blueberry .pager li a {
	padding: 18px 8px;
-webkit-border-radius: 6px;
   -moz-border-radius: 6px;
	border-radius: 6px;
}
#flash .blueberry .pager li a span {
	overflow: hidden;
	background: #c0c0c0;
	text-indent: -9999px;
-webkit-border-radius: 2px;
   -moz-border-radius: 2px;
	border-radius: 2px;
}
#flash .blueberry .pager li.active a span { background: #404040; }

#bodycontainer{padding:0px 0px 5px 0px;}
#bodycontainer .divcont{ float:left; -moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px; padding:5px; width:240px; height:330px; margin:6px 30px 5px 10px; border:1px solid #F3F3F3}
#bodycontainer .divcont .divimg1{ background:url(../img/ems.jpg); height:202px; width:224px}#bodycontainer .divcont .divimg2{ background:url(../img/smshubbing.jpg); height:193px; width:224px}#bodycontainer .divcont .divimg3{ background:url(../img/social.png); height:200px; width:224px}
#bodycontainer .divcont .divimg4{ background:url(../img/menumsg.png); height:202px; width:224px}#bodycontainer .divcont .divimg5{ background:url(../img/menusolution.jpg); height:202px; width:224px}#bodycontainer .divcont .divimg6{ background:url(../img/cloud.jpg); height:202px; width:224px}
#bodycontainer .divcont .divimg7{ background:url(../img/smsf.jpg); height:202px; width:224px}
#bodycontainer .divcont .divtext{ font-family:Tahoma, Geneva, sans-serif; font-size:8pt; padding:5px 0px 0px 10px}
#bodycontainer .divcont .divbnt{-moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px; padding:10px; width:70px; font-size:10pt; float:right; cursor:pointer}
#bodycontainer .divcont .divbnt a{ text-decoration:none; color:#151515}
#bodycontainer .divcont .divbnt a:hover{-webkit-transition:0.6s ease-in-out left;-moz-transition:0.6s ease-in-out left;-ms-transition:0.6s ease-in-out left;-o-transition:0.6s ease-in-out left;transition:0.6s ease-in-out left;color:#19B;}
#bodycontainer .loginpage{ border-top:10px solid #666; background:url(../img/background.png) repeat;}
#bodycontainer .loginpage .divlogin{ margin:5% 25% 5% 25%; background-color:#FFF; padding:5px}

#bodycontainer .divcenter{ float:left; font-size:14px; font-family:"Tahoma", Times, serif; line-height:3em}
#bodycontainer .divleft{ padding:5px; width:35%; float:right}

#bodycontainer .userpage{ border-top:10px solid #666;}
#bodycontainer .userpage .report{ padding:4px 0px 0px 4px; border:1px solid #D4D4D4;float:left; width:96%}
.part{padding:1px; float:left; background-color:#FFF; color:#454545; font-size:10px}
.part2{ float:left; color:#454545; font-size:9pt; text-align:left;}
#bodycontainer .userpage .report2{ padding:2px; float:left; border:1px solid #D4D4D4; background-color:#E6E6E6; width:96%}
#bodycontainer .userpage .report2:hover{ padding:3px; border:1px solid #D4D4D4; background-color:#6ACDEE}

#menucount{ float:left; height:auto; overflow:hidden;padding:10px 0px 0px 10px; width:20%;}
#menucount .menu ul{list-style: none;padding: 0; font-family:"Times New Roman", Times, serif; background-color:EEE;border:1px solid #EEE}
#menucount .menu ul li{display: block;font-size: 14px;font-weight: bold;padding: 2px;}
#menucount .menu ul li a{color:#303030;display: block;font-size: 14px;font-weight: bold;margin-bottom: -1px;padding: 5px 10px;text-decoration: none;}
#menucount .menu ul li a:hover{color:#006B9F;;background-color:#FFF;}
#menucount .menu .holder{color:#006B9F; background:url(../img/background.png) repeat;display: block;font-size: 14px;font-weight: bold;padding: 10px;text-decoration: none; border-radius:5px}


#pagecontainer{ float:left; padding:10px 0px 0px 10px; width:75%}
.dimg{ margin-right:10px; float:left}.dimg2{margin-right:10px; float:right}
.dim{float:left} .dim img{ margin-left:10px}
#bodycontainer .userpage ul li a:hover{ background-color:#CCC}
#longdiv { padding:5px;	box-shadow:0 2px 4px rgba(0, 0, 0, .5);}
.textin{ font-size: 8pt; font-family:Arial, Helvetica, sans-serif; line-height:1em; width:550px}
.textin h1{ padding:0px 0px 0px 0px}
.textin p{line-height:10px;}
.divsubscribe{ float:right;padding:5px}
.divsocial{ float:left;padding:5px}
.divsocial ul{ margin:auto}
.divsocial ul li{ float:left}
.small{ font-size:8pt; color:#910000}
#progress {
-webkit-border-radius: 10px;
background-color: rgba(0,0,0,.7);
left: 60px;
border-radius:5px;
line-height: 80px;
margin: 10% 40% 40% 40%;
position: absolute;
text-align: center;
top: 120px;
color:#FFF;
width: 200px;
}
#progress h1{ display: inline;font-weight: bold;color: white; font-size:12pt}#progress h2{ font-size:6pt;height: 10px; color:#F00; top:30px;margin: 0 auto;position: absolute; left:160px; cursor:pointer}

#payment{ padding:10px; width:auto;float:left; margin-right:10px}
#payment a{ text-decoration:none; color:#FFF; font-size:14px; }


/******* LOADING *******/
#loading{
	text-align: center;
	visibility: hidden;
}
/******* /LOADING *******/
/******* CONTENT *******/
#content{
	color: #000;
	margin: 0 0 20px 0;
	line-height: 1.3em;
	font-size: 12px;
}
#content p{
	margin-bottom: 0.7em;
}
#content a{
	font-weight: 700;
	color: #000;
	border-bottom: 1px dotted #6fa5fd;
}


.heading2 {
	font-family:Tahoma, Geneva, sans-serif;
	color: #ffffff;
	font-weight: bold;
	font-size: 16pt;
	text-shadow: 1px 1px 1px #121212;
}

.subheading2 {
	font-family:Tahoma, Geneva, sans-serif;
	color: #999999;
	font-weight: bold;
	font-size: 13px;
	text-shadow: 1px 1px 1px #121212;
}

.text2 {
	font-family:Tahoma, Geneva, sans-serif;
	color: #999;
	font-size: 13px;
	text-align: justify;
	text-shadow: 1px 1px 1px #121212;
}
.heading {
	font-family:Tahoma, Geneva, sans-serif;
	color: #121212;
	font-weight: bold;
	font-size: 16pt;
	text-shadow: 1px 1px 1px white;
}



.text {
	font-family:Tahoma, Geneva, sans-serif;
	color: #121212;
	font-size: 13px;
	text-align: justify;
	text-shadow: 1px 1px 1px white;
}

.btnOrange {
	border-radius: 5pt; 
	-moz-border-radius: 5pt; 
	-webkit-border-radius: 5pt; 
	border: 1px solid #fbb03b;
	background-color: #fbb03b;
	color: white;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 8pt;
	padding: 6pt;	
	font-weight: bold;
	text-shadow: 1px 1px 1px #999;
}
#footer {height:auto; min-width:1100px; background-color:#292929;position:relative;z-index:9; border-top:5px solid #1A7091}
#footer .insider .contact  {width:300px}
#footer .insider .contact .contact-text {padding:0px 20px 0 5px;height:150px;line-height:20px;font:15px/1.2em Georgia, "Times New Roman", Times, serif; color:#FFF}
#footer .insider{width:100%; height:auto; overflow:hidden;}
#footer .insider .innbg{ height:10px; width:1100px;}
#footer .insider .content4{width:30%; height:200px; float:left; padding:1px; text-align:left;}#footer .insider .content4 h1{ font-size:14pt}
#footer .insider .content4 .inter ul{height:auto; width:90%; margin-top:2px; border-radius:5px;overflow:hidden; padding:2px;}
#footer .insider .content4 .inter ul li{margin-top:2px;color:#FFF;font:15px/1.2em Georgia, "Times New Roman", Times, serif;}
#footer .insider .content4 .inter li{padding:0 0 10px 33px; background:url(../img/footer-checkmark1.png) no repeat 0 0;display:block;line-height:22px;}
#footer .insider .content4 .inter ul li a{ color:#FFF;  text-decoration: none;}
#footer .insider .content4 .inter ul li a:hover{  color:#006B9F;width:100px; padding:4px; text-align:center; height:auto;}
#footer .insider .dev{ width:100%; padding:4px; text-align:center; color:#FFF;height:10px;}