
#top 
{
    background-color: #990000;
    color: #FFFFFF;
    background-image: url("/images/topbackground.jpg");
    background-repeat: repeat-x;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}	

/* Everything */
#wrapper
{
    border-color: #660000 darkgray;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 15px 1px;
}	 

/* Nav elements */
.nav2 
{
  font-family: Arial, Helvetica, Sans-Serif;
}
		 
.nav2Big   
{
  font-size: 24pt; 
	font-weight: bold; 
  text-shadow: 1px 1px 1px #000000;
}
.nav2Small  
{
  font-size: 8pt; 
  font-weight: bold; 
  font-style: normal; 
}
.nav2Base  
{
  background-color: #660000; 
  color: #FFFFFF;
  font-size: 10pt;
}

.navButton  
{
  background-color: #660000; 
  color: #FFFFFF;
  font-size: 10pt;
}
 

BODY {	
  font-family: Verdana, sans-serif; 
	xbackground-color: rgb(230,230,255);
	background-color: #DDDDDD;
	color: #000000;
  margin: 0px;
}

/* Encloses everything */
#wrapper 
{
    background-color: white;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-left: solid thin gray;
    border-right: solid thin gray;
}

/* Breadcrumbs & navlinks */
#navbase 
{
    width: 100%;
    background-color: #660000; 
	color: #FFFFFF;
	font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif; 
    line-height: 200%;
}

#breadcrumbs
{
    float: left;
    margin-left: 5px;
}

#navlinks
{
  float: right;
  background-color: #660000; 
  color: #FFFFFF;
  font-size: 10pt;
  margin-right: 5px;
}

#navbase a:link, #navbase a:visited 
{
    color: white;
    text-decoration: none;
}

#navbase a:hover
{
    color: red;
    text-decoration: underline;
}




.MAIN {	/* Main part of page */
    font-family: Verdana, sans-serif; 
    font-size: smaller;
    line-height: 150%;
    }
    
.RIGHT	/* RHS of page */
{
}    

.BOTTOM /* BOTTOM of page  - Copyright*/
{
	font-size: 8pt; 
	font-family: Arial, Helvetica, sans-serif; 
	font-weight: bold;
  text-align: center;
}

.BOOK { 
        font-weight: bold; 
        }
.AUTHOR {
        font-style: italic; 
        }

.CHECKLIST {
        font-size: 90%;
        }


.BOOKLIST { background-color: #CCCCFF; }

.navbar 
{
  font-size: 90%; font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
  background: #CCFFCC; 
	border-style: none none solid none;
	border-width: thin;
	padding: 2px 
}

.navarl { font-size: 90%; 
	  font-family: "Times New Roman", Times, serif;
	  font-weight: bold; }

.navtag { font-size: 90%; 
	  font-family: "Times New Roman", Times, serif;
	  font-weight: normal;
	  font-style: italic; }

H1,H2,H3,H4
{
    font-family: Arial, Helvetica, sans-serif; 
    color: Navy;
}

H1
{
    font-size: 14pt;
}

H3 	
{
    font-style: italic;
}

.Hinline  { font-family: Arial, Helvetica, sans-serif; 
	  font-weight: bold; 
	  color: navy; 
	}


DFN  {
		text-decoration: underline;
		color: blue;
	}

PRE	{   font-size: 8pt;
	    font-family: "Courier New", "Courier", monospace;
	    background-color: #F0F0F0;
	}


.PROJECT {
        /* font-size: smaller; */
	}

.PRTITLE { font-family: Arial, Helvetica, sans-serif;
	  font-weight: bold;
	  color: navy;
        }

.PRODNAME { font-family: Arial, Helvetica, sans-serif;
	    font-weight: bold;
	}

.PRODINFO { font-family: "Times New Roman", Times, serif;
	    font-size: smaller;
        }

.PRODTABLE {
	padding: 10px;
	}
.smallprint 	
{
	font-size: 8pt; 
		font-family: Verdana, sans-serif; 
		font-weight: bold;
		}

.tinyprint {	font-size: 8pt; 
		font-family: "Times New Roman", Times, serif;
		}

.summary {
	  
	  font-family: Verdana, sans-serif;
	  font-weight: bold;
	}

.albion {
	  color: navy;
	}

.phase {
	 color: navy;
	 font-family: Arial, Helvetica, sans-serif;
	}

.address {
	 color: navy;
	margin-left: 0.5in;
}

.product {
    font-weight: bold;
    color: navy;
    }

.ASK { color: blue; 
		font-size: larger;
		font-weight: bold;
		margin-top: 0ex;
		margin-right: 50px;
		margin-bottom: 0pt;
		 }
.ANSWER { 
		color: black; 
		margin-left: 50px;
		margin-top: 1ex;
		 }
.MORE	{

		font-size: smaller;
		text-align: right;
		margin-left: 50px;
		}

.INTRO {
        margin-right: 50px;
        font-size: smaller;
        }

.NORMALTEASE {

		}

.TINYTEASE {

		font-size: smaller;
		}

.TINYTEASEHEADER {
		font-weight: bold;
		color: blue;
		}

.TINYPITCH {
        text-align: center;
        margin-left: 0in;
        margin-right: 0in;
        xfont-size: smaller;
        }

UL {
        margin-top: 0.5ex;
    }

OL {
        margin-top: 0.5ex;
    }


A:hover { color: #FF0000; }


DIV.CALLOUT
{
    font-size: 12pt;
    font-weight: bold;
    margin-left: 0in;
    margin-top: 20px;
    margin-bottom: 20px;
}

MARQUEE.CALLOUT
{
    font-family: Courier, fixed;
    border: 1px solid black;
}


TABLE.CALLOUT
{
    color: black;
    background-color: white;
    font-size: smaller; 
    padding: 10px;
    border: 1px solid black;
    margin: 4px;
}

UL.CALLOUT
{
    margin-left: 20px;
    color: green;
}

/* parasite-detection script warning style */
#parasite { border: solid rgb(224, 10, 10) 2px; margin: 1em; }
#parasite h2 { background-color: rgb(224, 10, 10); color: white; margin: 0; text-align: center; }
#parasite p { margin: 0; padding: 8px; border-top: 2px solid rgb(224, 10, 10); font-size: 0.9em; }


DIV.HOSTINGAD
{
    text-align: left;
    font-size: 8pt;
    xmargin: 0px;
    padding: 1em;
    border: solid thin darkblue;
    width: 120px;
    background-color: White;
}

DIV.CHITIKAAD
{
    text-align: center;
    font-size: 8pt;
    margin: 0px;
    padding: 0px;
    border: none;
}

/* Form Input */
TEXTAREA,INPUT,SELECT
{
	font-family: Verdana, Sans-Serif;
	color: black;
	font-size: small;
}

/* Social Networking */
P.NETWORKTHIS
{
	text-align: center;
	font-size: smaller;
}


/* Social Bookmarks */
div.socialbookmarks 
{
    height: 24px;
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: hidden;
}

div.socialbookmarks ul {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}


div.socialbookmarks li {
	display: inline-block;
	margin-right: 8px;
}

/* for opacity to work in IE8, the element must be a block */
div.socialbookmarks a 
{
    display: block; float: left; margin: 0px; padding: 0px;
}

div.socialbookmarks a:hover {
	filter: alpha(opacity=50);
	-khtml-opacity: 0.5;
	-moz-opacity: 0.5;
	opacity: 0.5;
}

div.socialbookmarks img 
{
    border: none;
    width: 24px;
    height: 24px;
    margin: 0px;
    padding: 0px;
}


 
@media print
{
    #navbase
    {        display: none;
    }
    #top
    {
        border-bottom: 5px solid #660000;
    }   
    #wrapper
    {
        border-top: 5px solid #660000;
        border-bottom: 5px solid #660000;
    }
    /* There is no point in linnks being blue - you can't click on them */
    a:link, a:visited
    {
        color: inherit;
    }
    
}