.ts-fab-wrapper{margin:1em 0;}
.ts-fab-wrapper a{text-decoration:none!important}
.ts-fab-wrapper img{border:none!important}
.ts-fab-list{overflow:hidden;margin:0 0 -2px 0;padding:0 0 0 5px; }
.ts-fab-list li{display:block;float:left;list-style:none!important;margin:0 5px 0 0}
.ts-fab-list li a{display:block;line-height:16px;height:16px;padding:8px 12px; border: 1px solid #ccc; border:1px solid rgba(33,33,33,.15);  background: white;}
.ts-fab-list li a:hover{background:url('../images/fab_tab_icons.png') rgba(33,33,33,0.2); border: 1px solid #ccc; }
.ts-fab-list li.active a{border-bottom:2px solid white;  }
.ts-fab-content {margin-left:5%; }
.ts-fab-tab{display:none;border: 1px solid #ccc; border: 1px solid rgba(33,33,33,.15); background: white; background:rgba(255,255,255, .65); padding:15px 5% 15px 3%; ; min-height:64px;overflow:hidden; }
.ts-tab:first-child{display:block}
.ts-fab-widget .ts-fab-tab{padding:8px}
.ts-fab-avatar{display:block;float:left; padding:2%; background:rgba(33,33,33,.10); border-radius:5px; margin-right: 10px; display:inline-block; float:none; margin: 0 0 10px 20px;}
.ts-fab-no-float .ts-fab-avatar{float:none;margin:0 0 12px}
.ts-fab-text{line-height:1.5}
.ts-fab-no-float .ts-fab-text{margin-left:0}
.ts-fab-avatar>img{width:64px;max-width:100%!important}
.ts-fab-header{margin-bottom:7px; margin-left:5%;}
.ts-fab-text h4{clear:none;font-size:18px;line-height:1!important;font-weight:bold; line-height:1;padding:0; margin-left: 0;}
.ts-fab-description{font:600 normal .80em 'Exo', sans-serif;  }
.ts-fab-follow{margin-top:10px; margin-left:5%; }
.ts-fab-social-links{margin:.1em 0 0;text-align:center}
.ts-fab-social-links a{display:inline-block;margin:0 1px;opacity:.5;transition:opacity .2s;-moz-transition:opacity .2s;-webkit-transition:opacity .2s;-o-transition:opacity .2s; }
.ts-fab-social-links a:hover{opacity:1; }
.ts-fab-latest{margin-left: 0%;}
.ts-fab-latest li{list-style:none!important;line-height:1.2;margin:0 0 .6em}
.ts-fab-latest li span,.ts-fab-twitter-time{font-size:.75em}
.latest-see-all{font-weight:normal}
span.website {display: block; font:600 normal .80em 'Exo', sans-serif; }


/*tab icon bullshit*/
.ts-fab-list li a{background-image:url('../images/fab_tab_icons.png')}
.ts-fab-list li.ts-fab-bio-link a{background-position:8px 8px;background-repeat:no-repeat;padding-left:27px;}
.ts-fab-list li.ts-fab-bio-link.active a{background-position:8px 8px;background-repeat:no-repeat;padding-left:27px; background-color:rgba(255,255,255, .65);}
/*.ts-fab-list li.ts-fab-bio-link.active a{background-position:-280px 8px;background-repeat:no-repeat;padding-left:27px}*/
.ts-fab-list li.ts-fab-twitter-link a{background-position:8px -42px;background-repeat:no-repeat;padding-left:35px;}
.ts-fab-list li.ts-fab-twitter-link.active a{background-position:8px -42px;background-repeat:no-repeat;padding-left:35px;background-color:rgba(255,255,255, .65);}
/*.ts-fab-list li.ts-fab-twitter-link.active a{background-position:-270px -42px;background-repeat:no-repeat;padding-left:35px}*/
.ts-fab-list li.ts-fab-facebook-link a{background-position:8px -92px;background-repeat:no-repeat;padding-left:23px}
.ts-fab-list li.ts-fab-facebook-link.active a{background-position:8px -92px;background-repeat:no-repeat;padding-left:23px; background-color:rgba(255,255,255, .65);}
/*.ts-fab-list li.ts-fab-facebook-link.active a{background-position:-284px -92px;background-repeat:no-repeat;padding-left:23px}*/
.ts-fab-list li.ts-fab-googleplus-link a{background-position:8px -142px;background-repeat:no-repeat;padding-left:30px}
.ts-fab-list li.ts-fab-googleplus-link.active a{background-position:8px -142px;background-repeat:no-repeat;padding-left:30px;background-color:rgba(255,255,255, .65);}
/*.ts-fab-list li.ts-fab-googleplus-link.active a{background-position:-276px -142px;background-repeat:no-repeat;padding-left:30px}*/
.ts-fab-list li.ts-fab-linkedin-link a{background-position:8px -242px;background-repeat:no-repeat;padding-left:30px}
.ts-fab-list li.ts-fab-linkedin-link.active a{background-position:8px -242px;background-repeat:no-repeat;padding-left:30px; background-color:rgba(255,255,255, .65);}
/*.ts-fab-list li.ts-fab-linkedin-link.active a{background-position:-276px -242px;background-repeat:no-repeat;padding-left:30px}*/
.ts-fab-list li.ts-fab-latest-posts-link a{background-position:8px -192px;background-repeat:no-repeat;padding-left:27px}
.ts-fab-list li.ts-fab-latest-posts-link.active a{background-position:8px -192px;background-repeat:no-repeat;padding-left:27px; background-color:rgba(255,255,255, .65); }
/*.ts-fab-list li.ts-fab-latest-posts-link.active a{background-position:-280px -192px;background-repeat:no-repeat;padding-left:27px}*/
.ts-fab-list li.ts-fab-custom-link a,.ts-fab-list li.ts-fab-additional-link a{background-image:none!important}
.ts-fab-widget .ts-fab-list li a,.ts-fab-icons-only .ts-fab-list li a{text-indent:-9999em;padding:15px 12px!important}
.ts-fab-widget .ts-fab-list li.ts-fab-bio-link a,.ts-fab-icons-only .ts-fab-list li.ts-fab-bio-link a{width:29px}
.ts-fab-widget .ts-fab-list li.ts-fab-twitter-link a,.ts-fab-icons-only .ts-fab-list li.ts-fab-twitter-link a{width:36px}
.ts-fab-widget .ts-fab-list li.ts-fab-googleplus-link a,.ts-fab-icons-only .ts-fab-list li.ts-fab-googleplus-link a{width:33px}
.ts-fab-widget .ts-fab-list li.ts-fab-linkedin-link a,.ts-fab-icons-only .ts-fab-list li.ts-fab-linkedin-link a{width:35px}
.ts-fab-widget .ts-fab-list li.ts-fab-facebook-link a,.ts-fab-icons-only .ts-fab-list li.ts-fab-facebook-link a{width:0}
.ts-fab-widget .ts-fab-list li.ts-fab-latest-posts-link a,.ts-fab-icons-only .ts-fab-list li.ts-fab-latest-posts-link a{width:29px}
.ts-fab-widget .ts-fab-list li.ts-fab-custom-link a,.ts-fab-icons-only .ts-fab-list li.ts-fab-custom-link a{text-indent:0!important}

@media only screen and (min-width: 650px) {
.ts-fab-avatar{ display:block;float:left; margin-right: 10px; }
.ts-fab-text { margin:0 0 .2em!important;}
.ts-fab-latest {margin-left:102px;}
}




