.qlinksheader{text-decoration:none; COLOR: black; font-size: 11px; font-family: "Verdana, Arial, Helvetica, sans-serif";}
A.qlinks:link {COLOR: #5251ce; font-size: 12px; font-family: "Arial";}
A.qlinks:visited {COLOR: #5251ce; font-size: 12px; font-family: "Arial";}
A.qlinks:hover {COLOR: #5251ce; font-size: 12px; font-family: "Arial";}
.defaultfont { font-size: 11pt; font-family: "Verdana, Arial";}
.defaultfontresult { font-size: 13pt; font-family: "Verdana, Arial"; COLOR: #003366;}
.defaultfontresultgreen { font-size: 13pt; font-family: "Verdana, Arial"; COLOR: green;}
.defaultfontresultred { font-size: 13pt; font-family: "Verdana, Arial"; COLOR: red;}
.defaultfontsmall { font-size: 9pt; font-family: "Verdana, Arial";}
a.header {font-size: 14px; }
h1 {font-size: 20px; font-family: "Verdana, Arial, Helvetica, sans-serif";}

A.articleslink:link { COLOR: #003366; font-size: 15px; font-family: "Verdana, Arial, Helvetica, sans-serif";}
A.articleslink:visited {COLOR: #003366; font-size: 15px; font-family: "Verdana, Arial, Helvetica, sans-serif";}
A.articleslink:hover {COLOR: #003366; font-size: 15px; font-family: "Verdana, Arial, Helvetica, sans-serif";}


.headernew strong {
	background: #FFFFFF;
	color: #FF0000;
	padding: 0px 2px;
	font-size: 10px;
}
